<footer class="c-footer">
  <div class="c-footer-image"></div>
  <div class="c-footer-social">
    <a href="https://www.facebook.com/wonderbill" class="c-footer-social-link c-footer-social-link-facebook"></a>
    <a href="https://twitter.com/wonderbill" class="c-footer-social-link c-footer-social-link-twitter"></a>
    <a href="https://www.instagram.com/wonderbill1841/" class="c-footer-social-link c-footer-social-link-instagram"></a>
    <a href="https://www.linkedin.com/company/10964716/" class="c-footer-social-link c-footer-social-link-linkedin"></a>
    <a href="https://medium.com/@WonderBill" class="c-footer-social-link c-footer-social-link-medium"></a>
  </div>
  <div class="c-footer-line"></div>
  <nav class="c-footer-links hide-mobile">
    <ul>
      <li><a href="about.html">About Us</a></li>
      <li><a href="careers.html">Jobs</a></li>
      <li><a href="security.html">Security</a></li>
      <li><a href="faq.html">FAQs</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="terms.html">Terms</a></li>
      <li><a href="privacy.html">Privacy</a></li>
    </ul>
  </nav>
  <nav class="c-footer-links show-mobile">
    <ul>
      <div class="left column">
        <li><a href="about.html">About Us</a></li>
        <li><a href="careers.html">Jobs</a></li>
        <li><a href="security.html">Security</a></li>
        <li><a href="faq.html">FAQs</a></li>
      </div>
      <div class="right column">
        <li><a href="cpntact.html">Contact</a></li>
        <li><a href="terms.html">Terms</a></li>
        <li><a href="privacy.html">Privacy</a></li>
      </div>
    </ul>
  </nav>
  <div class="c-footer-line show-mobile"></div>
  <div class="c-footer-text">
    <p>40 Bank St, Canary Wharf, London, E14 5NR</p>
    <p>Copyright WonderBill © 2017</p>
  </div>
</footer>