<footer class="c-footer">
  <div class="c-footer-image"></div>
  <div class="c-footer-social">
    <a href="#" class="c-footer-social-link c-footer-social-link-facebook"></a>
    <a href="#" class="c-footer-social-link c-footer-social-link-twitter"></a>
    <a href="#" class="c-footer-social-link c-footer-social-link-instagram"></a>
    <a href="#" class="c-footer-social-link c-footer-social-link-linkedin"></a>
    <a href="#" class="c-footer-social-link c-footer-social-link-medium"></a>
  </div>
  <div class="c-footer-line"></div>
  <nav class="c-footer-links hide-mobile">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </nav>
  <nav class="c-footer-links show-mobile">
    <ul>
      <div class="left column">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">FAQs</a></li>
      </div>
      <div class="right column">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </div>
    </ul>
  </nav>
  <div class="c-footer-line show-mobile"></div>
  <div class="c-footer-text">
    <p>40 Bank St, Canary Wharf, London, E14 5NR</p>
    <p>Copyright WonderBill © 2017</p>
  </div>
</footer>