<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WonderBill</title>

  <!-- Sofia font from Fonts.com -->
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/8007bbd8-b9d5-4d55-a003-a6eee79db20f.css"/>
  <link href="//fonts.googleapis.com/css?family=Hind:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" href="./images/favicon.png">
</head>

<script>
  function preLoadImages(imageURLs) {
    document.body.classList.add('js-loading');
    var allLoaded = false;
    var imgCount = 0;
    var images = [];
    const onImageLoad = function() { imgCount += 1; }
    const loadImage = function(url) {
      images.push(new Image());
      images[images.length-1].src = url
      images[images.length-1].onload = onImageLoad;
    }
    const waitForLoaded = function() {
      if (imgCount === images.length) {
        document.body.classList.remove('js-loading'); 
        document.body.classList.add('js-loaded'); 
      } else {
        setTimeout(waitForLoaded,100)
      }
    }
    imageURLs.forEach(loadImage);
    setTimeout(waitForLoaded,100);
  }
</script>

<body class="@@bodyClass">
  