<div class="c-top-nav-mobile show-tablet show-mobile">
  <div class="container">
    <div class="c-top-nav-mobile-top">
      <div class="c-top-nav-mobile-logo">
        <a href="./"></a>
      </div>
      <div class="c-top-nav-mobile-close" id="js-hide-menu"></div>
    </div>
    <div class="c-top-nav-mobile-middle">
      <ul>
        <!-- <li><a class="c-top-nav-links-no-btn" href="#">Features</a></li> -->
        <li><a href="https://my.wonderbill.com/login" class="btn btn-outline-green btn-inline">Log in</a></li>
        <li><a href="https://my.wonderbill.com/register" class="btn btn-green btn-inline">Sign up</a></li>
      </ul>
    </div>
    <div class="c-top-nav-mobile-bottom">
      <div class="c-top-nav-mobile-social">
        <a href="https://www.facebook.com/wonderbill" class="c-top-nav-mobile-social-link c-top-nav-mobile-social-link-facebook"></a>
        <a href="https://twitter.com/wonderbill" class="c-top-nav-mobile-social-link c-top-nav-mobile-social-link-twitter"></a>
        <a href="https://www.instagram.com/wonderbill1841/" class="c-top-nav-mobile-social-link c-top-nav-mobile-social-link-instagram"></a>
        <a href="https://www.linkedin.com/company/10964716/" class="c-top-nav-mobile-social-link c-top-nav-mobile-social-link-linkedin"></a>
        <a href="https://medium.com/@WonderBill" class="c-top-nav-mobile-social-link c-top-nav-mobile-social-link-medium"></a>
      </div>
      <div class="c-top-nav-mobile-line"></div>
      <div class="c-top-nav-mobile-text">
        <p>40 Bank St, Canary Wharf, London, E14 5NR</p>
        <p>Copyright WonderBill © 2017</p>
      </div>
    </div>
  </div>
</div>