<div class="c-top-nav-toplevel @@additionalClass" id="js-nav">
  <div class="c-top-nav-container">
    <nav class="c-top-nav">
      <div class="c-top-nav-logo">
        <a href="/"></a>
      </div>
      <ul class="c-top-nav-links hide-tablet hide-mobile">
        <!-- <li><a class="c-top-nav-links-no-btn" href="#">Features</a></li> -->
        <li><a href="#" class="btn btn-outline-green btn-inline">Log in</a></li>
        <li><a href="#" class="btn btn-green btn-inline">Sign up</a></li>
      </ul>
      <div class="c-top-nav-burger show-tablet show-mobile js-show-menu"></div>
    </nav>
  </div>
</div>