<section class="c-newsletter">
  <div class="l-main-page-container">
    
    <h2 class="c-newsletter-heading text-centered">
      <span class="c-newsletter-heading-icon"><img src="./images/icons/icon_newsletter_heading.png" width="73px"></span>
      <span class="c-newsletter-heading-text">Subscribe to our newsletter</span>
    </h2>
    <p class="text-centered">We’ll be announcing new features and developments regularly so keep in touch</p>
    <form class="c-newsletter-form" action="https://wonderbill.us16.list-manage.com/subscribe/post?u=00f4488856d8433ec4eb8af0a&id=bdecd50be4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <input class="c-newsletter-text-input" type="text" name="FNAME" placeholder="First Name">
      <input class="c-newsletter-text-input" type="text" name="LNAME" placeholder="Last Name">
      <input class="c-newsletter-text-input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00f4488856d8433ec4eb8af0a_bdecd50be4" tabindex="-1" value=""></div>
      <input class="c-newsletter-submit btn btn-outline-green" name="subscribe" type="submit" value="Submit">
    </form>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

  </div>
</section>
