<section class="c-newsletter">
  <div class="l-main-page-container">
    
    <h2 class="c-newsletter-heading text-centered">
      <span class="c-newsletter-heading-icon"><img src="/images/icons/icon_newsletter_heading.png" width="73px"></span>
      <span class="c-newsletter-heading-text">Subscribe to our newsletter</span>
    </h2>
    <p class="text-centered">We’ll be announcing new features and developments regularly so keep in touch</p>
    <form class="c-newsletter-form" action="#" method="post">
      <input class="c-newsletter-text-input" type="text" name="first-name" placeholder="First Name">
      <input class="c-newsletter-text-input" type="text" name="last-name" placeholder="Last Name">
      <input class="c-newsletter-text-input" type="email" name="email" placeholder="Email Address">
      <input class="c-newsletter-submit btn btn-outline-green" type="submit" value="Submit">
    </form>
  </div>
</section>
